Flask
flask-cors
torch
transformers
git+https://github.com/VarunGumma/IndicTransToolkit.git
SpeechRecognition
sacremoses 
pandas 
regex 
mock 
bitsandbytes 
scipy 
accelerate 
datasets 
sentencepiece 
mosestokenizer 
nltk 
cython 